<p></p>
<div class ="container px-5 px-sm-0">
  <div class ="row">
    <div class ="col-md-3">
      <h1>User info</h1>

      <table class ="table table-striped">
        
        <thread>
          <tr>
            <th>name</th>
            <th>user.name</th>
          </tr>
          <tr>
            <th>introduction</th>
            <th>user.introduction</th>
          </tr>
        </thread>
        
      </table>
      <div class="actions">
        <%= link_to "<i class="fa-solid fa-user-gear"></i>", h, class:"btn btn-sm btn-primary" %>
      </div>
      
    </div>
  </div>
</div>

